<p>NOS CLIENTS</p>
<div class="container" id="main-container">
    <div class="row">
      
        <div *ngFor="let client of clients" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{client?.CodeClient}}</h5>
                        <h5>{{client?.Nom}}</h5>
                        <h5>{{client?.PrenomClient}}</h5>
                        <h5>{{client?.Adresse}}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item"><i class=""></i>Code Client : <a href="#">{{client?.CodeClient}}</a></li>
                    <li class="list-group-item"><i class=""></i>Nom : <a href="#">{{client?.Nom}}</a></li>
                    <li class="list-group-item"><i class=""></i>Prénom du Client : <a href="#">{{client?.PrenomClient}}</a></li>
                    <li class="list-group-item"><i class=""></i>Adresse : <a href="#">{{client?.Adresse}}</a></li>
                    <!--<li class="list-group-item"><i class="fa fa-times float-right"></i>Date de Creation : <a href="#">{{user?.datecreation}}</a></li>-->
                  <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Password : <a href="#">{{user?.password}}</a></li> 
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Locked! : <a href="#">{{user?.locked}}</a></li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Enabled! : <a href="#">{{user?.enabled}}</a></li>
                    -->
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(client, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(client, 'delete')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i> </a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="clientEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateClientModalLabel">Edit Client {{editClient?.CodeClient}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editClient?.NumClient}}" name="NumClient" class="form-control" id="NumClient" placeholder="NumClient">
            <!-- <input type="hidden" ngModel="{{editClient?.datecreation}}" name="datecreation" class="form-control" id="datecreation" placeholder="datecreation">
            <input type="hidden" ngModel="{{editUser?.enabled}}" name="enabled" class="form-control" id="enabled" placeholder="enabled">
            <input type="hidden" ngModel="{{editUser?.locked}}" name="locked" class="form-control" id="locked" placeholder="locked">
            <input type="hidden" ngModel="{{editUser?.password}}" name="password" class="form-control" id="password" placeholder="password">
               -->

              <div class="form-group">
                 <label for="CodeClient">CodeClient</label>
                 <input type="text" ngModel="{{editClient?.CodeClient}}" name="CodeClient" class="form-control" id="CodeClient" aria-describedby="emailHelp" placeholder="CodeClient">
              </div>
              <div class="form-group">
                <label for="Nom">Nom</label>
                <input type="text" ngModel="{{editClient?.Nom}}" name="Nom" class="form-control" id="Nom" aria-describedby="emailHelp" placeholder="Nom">
             </div>
             <div class="form-group">
              <label for="PrenomClient">PrenomClient</label>
              <input type="text" ngModel="{{editClient?.PrenomClient}}" name="PrenomClient" class="form-control" id="PrenomClient" placeholder="PrenomClient">
           </div>
              <div class="form-group">
                 <label for="Adresse">Adresse</label>
                 <input type="Adresse" ngModel="{{editClient?.Adresse}}" name="Adresse" class="form-control" id="Adresse" placeholder="Adresse">
              </div>
              <!--
              <div class="form-group">
                <label for="telephone">Phone</label>
                <input type="text" ngModel="{{editUser?.telephone}}" name="telephone" class="form-control" id="telephone" name="telephone" placeholder="telephone">
             </div>
             <div class="form-group">
              <label for="adress">Adress</label>
              <input type="text" ngModel="{{editUser?.adress}}" name="adress" class="form-control" id="adress" name="adress" placeholder="adress">
           </div>
           <div class="form-group">
            <label for="description">description</label>
            <input type="text" ngModel="{{editUser?.description}}" name="description" class="form-control" id="description" placeholder="description">
         </div>  
        -->            
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateClient(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Client</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Client {{deleteClient?.NumClient}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteClient(deleteClient?.NumClient)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  
</div>
