<p>Statut Consultation</p>
<div class="container" id="main-container">
    <div class="row">
      
        <div *ngFor="let statutConsultation of statutConsultations" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{statutConsultation?.IDF_StatutConsultaion}}</h5>
                        <h5>{{statutConsultation?.StatutConsultation}}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item"><i class=""></i>IDF StatutConsultaion : <a href="#">{{statutConsultation?.IDF_StatutConsultaion}}</a></li>
                    <li class="list-group-item"><i class=""></i>Statut Consultation : <a href="#">{{statutConsultation?.StatutConsultation}}</a></li>
                    <!--<li class="list-group-item"><i class="fa fa-times float-right"></i>Date de Creation : <a href="#">{{user?.datecreation}}</a></li>-->
                  <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Password : <a href="#">{{user?.password}}</a></li> 
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Locked! : <a href="#">{{user?.locked}}</a></li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Enabled! : <a href="#">{{user?.enabled}}</a></li>
                    -->
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(statutConsultation, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(statutConsultation, 'delete')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i> </a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateStatutConsultationModal" tabindex="-1" role="dialog" aria-labelledby="statutConsultationEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateStatutConsultationModalLabel">Edit statutConsultation {{editStatutConsultation?.IDF_StatutConsultaion}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editStatutConsultation?.IDF_StatutConsultaion}}" name="IDF_StatutConsultaion" class="form-control" id="IDF_StatutConsultaion" placeholder="IDF_StatutConsultaion">
            <!-- <input type="hidden" ngModel="{{editClient?.datecreation}}" name="datecreation" class="form-control" id="datecreation" placeholder="datecreation">
            <input type="hidden" ngModel="{{editUser?.enabled}}" name="enabled" class="form-control" id="enabled" placeholder="enabled">
            <input type="hidden" ngModel="{{editUser?.locked}}" name="locked" class="form-control" id="locked" placeholder="locked">
            <input type="hidden" ngModel="{{editUser?.password}}" name="password" class="form-control" id="password" placeholder="password">
               -->

              <div class="form-group">
                 <label for="IDF_StatutConsultaion">IDF_StatutConsultaion</label>
                 <input type="text" ngModel="{{editStatutConsultation?.IDF_StatutConsultaion}}" name="IDF_StatutConsultaion" class="form-control" id="IDF_StatutConsultaion" aria-describedby="emailHelp" placeholder="IDF_StatutConsultaion">
              </div>
              <div class="form-group">
                <label for="StatutConsultation">StatutConsultation</label>
                <input type="text" ngModel="{{editStatutConsultation?.StatutConsultation}}" name="StatutConsultation" class="form-control" id="StatutConsultation" aria-describedby="emailHelp" placeholder="StatutConsultation">
             </div>
              <!--
              <div class="form-group">
                <label for="telephone">Phone</label>
                <input type="text" ngModel="{{editUser?.telephone}}" name="telephone" class="form-control" id="telephone" name="telephone" placeholder="telephone">
             </div>
             <div class="form-group">
              <label for="adress">Adress</label>
              <input type="text" ngModel="{{editUser?.adress}}" name="adress" class="form-control" id="adress" name="adress" placeholder="adress">
           </div>
           <div class="form-group">
            <label for="description">description</label>
            <input type="text" ngModel="{{editUser?.description}}" name="description" class="form-control" id="description" placeholder="description">
         </div>  
        -->            
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateStatutConsultation(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteStatutConsultationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete StatutConsultation</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete StatutConsultation {{deleteStatutConsultation?.IDF_StatutConsultaion}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteStatutConsultation(deleteStatutConsultation?.IDF_StatutConsultaion)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  
</div>
