

<nav class="navbar navbar-expand-lg navbar-toggler bg-white">
   <a class="navbar-brand" style="color:white;">Statut Consultation Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Statut consultation <span class="sr-only">(current)</span></a>
             </li>
          </ul>
   </div>
 </nav>
<div class="container" id="main-container">
    <div class="row">
      
        <div *ngFor="let statutConsultation of statutConsultations" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <ul class="list-group list-group-flush">
                   <li class="list-group-item"><i class=""></i>IDF StatutConsultaion : <a href="#">{{statutConsultation?.idf_StatutConsultaion}}</a></li>
                    <li class="list-group-item"><i class=""></i>Statut Consultation : <a href="#">{{statutConsultation?.statutConsultation}}</a></li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(statutConsultation, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(statutConsultation, 'delete')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <!-- Add Employee Modal -->
   <div class="modal fade" id="addStatutConsultationModal" tabindex="-1" role="dialog" aria-labelledby="addStatutConsultationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addStatutConsultationModalLabel">Add Statut Consultation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddStatutConsultation(addForm)" novalidate>
              <div class="form-group">
                 <input type="text" ngModel name="statutConsultation" class="form-control" id="statutConsultation" placeholder="statutConsultation" >
  
  
              </div>
              <div class="modal-footer">
                 <button type="button" id="add-StatutConsultation-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save </button>
              </div>
              </form>
           </div>
        </div>
      </div>
  </div>
  

<!-- Edit Modal -->
<div class="modal fade" id="updateStatutConsultationModal" tabindex="-1" role="dialog" aria-labelledby="statutConsultationEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateStatutConsultationModalLabel">Edit statutConsultation {{editStatutConsultation?.idf_StatutConsultaion}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editStatutConsultation?.idf_StatutConsultaion}}" name="idf_StatutConsultaion" class="form-control" id="idf_StatutConsultaion" placeholder="idf_StatutConsultaion">

              <div class="form-group">
                 <label for="idf_StatutConsultaion">IDF_StatutConsultaion</label>
                 <input type="text" ngModel="{{editStatutConsultation?.idf_StatutConsultaion}}" name="idf_StatutConsultaion" class="form-control" id="idf_StatutConsultaion" aria-describedby="emailHelp" placeholder="idf_StatutConsultaion">
              </div>
              <div class="form-group">
                <label for="statutConsultation">StatutConsultation</label>
                <input type="text" ngModel="{{editStatutConsultation?.statutConsultation}}" name="statutConsultation" class="form-control" id="statutConsultation" aria-describedby="emailHelp" placeholder="statutConsultation">
             </div>          
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateStatutConsultation(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteStatutConsultationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete StatutConsultation</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete StatutConsultation {{deleteStatutConsultation?.idf_StatutConsultaion}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteStatutConsultation(deleteStatutConsultation?.idf_StatutConsultaion)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  
</div>